<div class="formTareas">
    <p class="titulo">Lista de Tareas de Cecilia</p>
    <div class="formAgregarTarea">
        <input class="inputAgregarTarea" type="text" #nombreTarea>
        <button (click)="agregarTarea(nombreTarea.value, false)" class="btnAgregarTarea">ADD</button>
    </div>
    <div *ngFor="let t of tareas">
        <app-lista-tareas-creadas (cambiarEstado)="cambiarEstadoTarea($event)" 
                                  (enviarTarea)="eliminarTarea($event)" [tarea]="t">
        </app-lista-tareas-creadas>
    </div>
    
    <!--
    <app-lista-tareas-creadas [tarea]="tarea1"></app-lista-tareas-creadas>
    <app-lista-tareas-creadas [tarea]="tarea2"></app-lista-tareas-creadas>
    <app-lista-tareas-creadas [tarea]="tarea3"></app-lista-tareas-creadas>
    <app-lista-tareas-creadas [tarea]="tarea4"></app-lista-tareas-creadas>  Se trae una variable del TS y se muestra en el componente hijo 
    <app-lista-tareas-creadas [tarea]="'Comprar par de medias'"></app-lista-tareas-creadas> Se envía al componente hijo un string como "prop"
    -->
</div>

