@import "../formulario-tareas/formulario-tareas.component.scss";

div.formAgregarTarea {
    width: 497px;
    height: 64px;
    background-color: $greyColor;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
input {
    all: unset;
    &.inputAgregarTarea {
        width: 411px;
        height: 48px;
        padding: 8px;
        border: 0;
    } 
}

@media (max-width: 560px) {
    div.formAgregarTarea {
        width: 397px;
    }
    input.inputAgregarTarea {
        width: 308px;
        padding: 8px;
    } 
}

    
