@import "../formulario-tareas/formulario-tareas.component.scss";

div.formAgregarTarea {
    width: 497px;
    height: auto;
    background-color: $negro10;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
input {
    all: unset;
    &.inputAgregarTarea {
        width: 411px;
        height: 48px;
        padding: 8px;
        border: 0;
    } 
}

@media (max-width: 560px) {
    div.formAgregarTarea {
        width: 397px;
    }
    input.inputAgregarTarea {
        width: 308px;
        padding: 8px;
    } 
}

@media (prefers-color-scheme: dark) {
    .formAgregarTarea {
        //Pongo el important porque me aparece esto como prioridad 
        //html[native-dark-active] div.formAgregarTarea[_ngcontent-tda-c30]
        background-color: $blanco20;
    }
}

    
