@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//Variables
$robotoFont: 'Roboto', sans-serif;
$fontColorLight: #222222;
$fontColorNight: #FFFFFF; 
$greyColor: rgba(255, 255, 255, 0.1);
$lightGreyColor: rgba(255, 255, 255, 0.2);

main { 
    font-family: $robotoFont;
    color: $fontColorNight;
}