@import "../formulario-tareas/formulario-tareas.component.scss";

div {
    &.contendorTarea {
        display: flex;
        justify-content: space-between;
        width: 481px;
        height: 64px;
        background: $lightGreyColor;
        border-radius: 4px;
        margin-bottom: 16px;
        padding: 0 8px;
    }
    &.container {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &.checked {
        text-decoration: line-through;
    }
    &.btnContainer {
        display: flex;
    }
}
button {
    margin-left: 3px;
}
input {
    all: unset;
    &.checkbox {
        width: 24px;
        height: 24px;
        margin-right: 3px;
        border: 2px solid $fontColorNight;
        background-color: $lightGreyColor;
    }
}
