<div class="contendorTarea">
    <div class="container checked">
        <label class="container" (click)="informarCambioEstado(tarea)">
            <input (click)="informarCambioEstado(tarea)" type="checkbox">
            <span class="checkmark"></span>
            <p class="tarea">{{tarea.nombreTarea}}</p>
        </label>
    </div>
    <div class="btnContainer">
        <button><mat-icon>share</mat-icon></button>
        <button><mat-icon>assignment_turned_in</mat-icon></button>
        <button (click)="informarTareaEliminada(tarea)"><mat-icon>delete_outline</mat-icon></button>
    </div>    
</div>