@import "../../app.component.scss";

p.titulo {
    font-size: 30px;
}
div {
    &.formTareas {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 512px;
        height: auto;
    }
    &.btnContainerHeader{
        display: flex;
        width: 110px;
        justify-content: space-between;
    }
}
.sticky {
    position: sticky;
    top: 8%;
    backdrop-filter: blur(5px) saturate(150%);;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 480px;
}
button {
    all: unset;
    width: 48px;
    height: 48px;
    border: 1px solid $negro;
    border-radius: 4px;
    align-self: center;
    text-align: center;

    &:hover {
        cursor: pointer;
    }

}
.btnTheme {
    content: 🌞;
}

hr {
    border: 1px solid $negro10;
    width: 497px;
    border-radius: 4%;
    height: 0px;
    margin: 15px 0;
}

@media (max-width: 560px) {
    hr {
        width: 395px;
    }
    div.formTareas {
        width: 414px;
    }
    .header {
        width: 382px;
    }
}

@media (prefers-color-scheme: dark) {
    hr {
        border: 1px solid $blanco20;
    }
    button {
        border: 1px solid $blanco;
    }
}
